
.message_box_add{
	 width:100%;
    min-height: 200px;
    border: 1px solid #CCCCCC;
    margin-top:20px;
}
.message_box_btn{
	width:100%;
	height:40px;
	margin-bottom: 20px;
}
/*商品*/
.message_box{
    width:100%;
    min-height: 200px;
    border: 1px solid #CCCCCC;
    margin-bottom: 20px;

}

/*标题*/
.title_box{
    border-collapse: collapse;
    border-bottom: 1px #CCCCCC solid;
    border-spacing: 0;
    color: #3c3c3c;

    background-color: #EEEEEE;
    width: 100%;
    padding: 5px;
}
/*商品详情信息*/
.commodity_box{
    padding: 20px 10px;
    display: flex;
}
/*商品详情*/
.cm_box{
    height: 150px;
    width: 33.33%;
}
.cm_box .col-sm-10{
    margin-bottom: 10px;
}
.cm-input-block{
    position: relative;
    left: -1px;
    margin: 0;
    left: 0;
    top: -1px;
}